# macOS
.DS_Store

# Flutter/Dart/Pub related
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.flutter-versions
.packages
.pub-cache/
.pub/
build/
.melos_tool/
coverage/
lib/generated_plugin_registrant.dart

# VS Code
.vscode/

# IntelliJ/Android Studio
*.iml
*.ipr
*.iws
.idea/

# Android
android/.gradle/
android/local.properties

# iOS
ios/Flutter/ephemeral/
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Runner.xcworkspace/
macos/Podfile.lock

# Optional: Uncomment if used
# .env
# *.keystore